.card {
  background-color: var(--bgColor);
  padding: var(--padding);
  width: var(--width);
  height: var(--height);
}

.editArea {
  height: 80%;
}

.countContainer {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.sideIndicatorContainer {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
