html {
  background: url("./img/IndexCards.png") no-repeat center center fixed;
  background-size: cover;
}

body,
html,
:global(#main) {
  display: flex;
  position: relative;
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}
